name: Android CI

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: set up JDK 11
      uses: actions/setup-java@v4
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: build ncore
      run: |
        git clone https://github.com/FMAC-Team/ncore.git
        curl -OL https://ziglang.org/download/0.15.2/zig-x86_64-linux-0.15.2.tar.xz
        tar -xf zig-x86_64-linux-0.15.2.tar.xz
        cd ncore
        ../zig-x86_64-linux-0.15.2/zig build -Dtarget=aarch64-linux-android -Doptimize=ReleaseSafe
        cd ..
        mkdir -p app/src/main/jniLibs/arm64-v8a/
        cp ncore/zig-out/lib/libncore.so app/src/main/jniLibs/arm64-v8a/

    - name: Build with Gradle
      run: ./gradlew assembleRelease

    - name: Upload Release Artifact
      uses: actions/upload-artifact@v4
      with:
         name: release
         path: app/build/outputs/apk/release/*.apk
