name: Android CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: set up JDK 11
      uses: actions/setup-java@v4
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
    - name: build ncore
      run: |
        git clone https://github.com/FMAC-Team/ncore.git
        sudo snap install zig --classic --beta
        zig build -Dtarget=aarch64-linux-android
        mkdir -p app/src/main/jniLibs/arm64-v8a
        cp zig-out/lib/libncore.so app/src/main/jniLibs/arm64-v8a/
        
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew assembleRelease

    - name: Upload Release Artifact
      uses: actions/upload-artifact@v4
      with:
         name: release
         path: app/build/outputs/apk/release/*.apk
